.input-box {
    -webkit-box-shadow: -4px -6px 28px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: -4px -6px 28px -4px rgba(0,0,0,0.75);
    box-shadow: -4px -6px 28px -4px rgba(0,0,0,0.75);
}

.cursor-pointer {
    cursor: pointer;
}

.form-height {
    max-height: 560px;
}

.error-highlight {
    border: 2px solid red;
    box-shadow: 0px 0px 10px 0px red;
}

.mandatory:after {
    color: red;
    content: "*";
}